/* start reset */
ul,
ol {
  list-style-type: none;
}

* {
  font-family: cursive; /*PT MAC*/
  /* * = all elements */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/* end reset */
